.container {
  max-width: 730px;
}

.header {
  margin-bottom: 4em;
  margin-top: 3em;
}

.header ul {
  font-size: 28px;
}

li.post {
  margin-bottom: 1em;
  padding-left: 0;
}

body {
  padding-bottom: 4em;
}
