.container {
  max-width: 730px;
}

.header {
  margin-bottom: 4em;
  margin-top: 3em;
}
@media(max-width:767px) {
  .header {
    margin-bottom: 1em;
    margin-top: 1em;
  }
}

.header ul {
  font-size: 28px;
  text-align: right;
}

@media(max-width:767px) {
  .header ul {
    text-align: left;
  }
}

ul.posts li {
  margin-bottom: 1em;
  padding-left: 0;
}

ul.posts li a {
  display: block;
}

body {
  padding-bottom: 4em;
}

.post-header {
  border-bottom: 1px solid #b3b3b3;
  margin-bottom: 2em;
}
